@import './player.scss';
@import './controls.scss';
@import './logo.scss';
@import './song.scss';
@import './canvas.scss';

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 2em;
    background-color: gray;
}

body i {
    font-family: 'FontAwesome';
}

/*Design Options*/
#color {
    position: relative;
    float: right;
}

#template {
    position: relative;
    float: right;
}